{% extends 'base.html' %} {% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}" />
{% endblock %} {% block content %}
<div class="container">
  <h1>Welcome to Jessen's Weather App</h1>
  <p>Feel Free to Explore and Enjoy My Simple Website ^_^</p>

  <form id="logoutForm" method="post" action="{{url_for('main.logout')}}">
    <button type="button" class="logoutBtn" onclick="confirmLogout()">Logout</button>
  </form>
</div>

<script>
  function confirmLogout() {
    let confirmLogout = confirm("Are you sure you want to logout??");
    if (confirmLogout) {
      document.getElementById("logoutForm").submit();
    }
  }
</script>
{% endblock %}
